= form_for @complaint do |f|
  - if @complaint.errors.any?
    #error_explanation
      %h2= "#{pluralize(@complaint.errors.count, "error")} prohibited this complaint from being saved:"
      %ul
        - @complaint.errors.full_messages.each do |message|
          %li= message

  %ol.inputs
    %li
      = f.label :date, "Date"
      = f.date_field :date
    %li
      = f.label :location, "Location"
      = f.text_field :location
    %li
      = f.label :department, "Department for complaint"
      = f.text_field :department
    %li
      = f.label :description, "Description"
      = f.text_area :description
    %li
      = f.label :ID, "ID number"
      = f.number_field :person_number

    %li.actions
      = f.submit 'Save'
